---
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from '@/components/ui/table'
import { space } from '@/config/resource'
import ResourceLayout from '@/layouts/ResourceLayout.astro'
---

<ResourceLayout
  title="Workspace Resource"
  description="Anthony's workspace resource"
  bgType="default"
  bgClass="dark:bg-transparent"
>
  <div slot="right-content">
    <Table>
      <TableHeader>
        <TableRow>
          <TableHead className="min-w-[250px] md:min-w-[300px] px-4">Product</TableHead>
          <TableHead className="min-w-[300px] px-4 hidden md:block">Specs</TableHead>
          <TableHead className="min-w-[60px] md:min-w-[70px] px-4 text-right"></TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        {
          space.map((s) => {
            return (
              <TableRow>
                <TableCell className="px-4 py-3 font-medium">{s.title}</TableCell>
                <TableCell className="px-4 py-3 hidden md:block">{s.desc}</TableCell>
                <TableCell className="px-4 py-3 font-medium">
                  {
                    s.url
                    ? (
                        <a
                          href={`${s.url}?ref=huakucha.top`}
                          target="_blank"
                          rel="noopener noreferrer"
                          class="break-words after:content-['_↗'] hover:underline underline-offset-4"
                        >
                          {s.source}
                        </a>
                      )
                    : '-'
                  }
                </TableCell>
              </TableRow>
            )
          })
        }
      </TableBody>
    </Table>
  </div>
</ResourceLayout>
