---
import CollectionLayout from '@/layouts/CollectionLayout.astro'
---
<CollectionLayout
  title="Collection"
  description="Anthony's collection page"
  bgType="default"
  bgClass="dark:bg-transparent"
  slideContent={false}
>
  <p slot="right-content">Reading Page</p>
</CollectionLayout>
