---
import ResourceLayout from '@/layouts/ResourceLayout.astro'

const data = []
for (let index = 0; index < 1000; index++) {
  data.push(index)
}
---
<ResourceLayout
  title="Collection"
  description="Anthony's collection page"
  bgType="default"
  bgClass="dark:bg-transparent"
  slideContent={false}
>
  <div slot="right-content">
  </p>
</ResourceLayout>
