<h2 class="mt-10 scroll-m-20 text-xl font-semibold tracking-tight first:mt-0">
  Inspirations
</h2>
<ul class="my-2 ml-1 list-disc">
  <li class="mt-2">
    <span class="text-sm text-ds-gray-1000">Idea of simple home page is inspired from </span>
    <a
      href="https://www.fabianschultz.com?ref=huakucha.top"
      target="_blank"
      title="Fabian Schultz"
      rel="noopener noreferrer"
      class="break-words after:content-['_↗'] text-ds-gray-1000 after:text-ds-gray-1000"
    >
      <span
        class:list={[
          'text-ds-gray-1000 underline underline-offset-4',
          'decoration-ds-gray-500 hover:decoration-ds-gray-800  decoration-1 text-sm font-medium',
        ]}
      >
        Fabian Schultz
      </span>
    </a>
  </li>
  <li class="mt-2">
    <span class="text-sm text-ds-gray-1000">Credits page and uses page is inspired from</span>
    <a
      href="https://hiran.in/index.html?ref=huakucha.top"
      target="_blank"
      title="Hiran Venugopalan"
      rel="noopener noreferrer"
      class="break-words after:content-['_↗'] text-ds-gray-1000 after:text-ds-gray-1000"
    >
      <span
        class:list={[
          'text-ds-gray-1000 underline underline-offset-4',
          'decoration-ds-gray-500 hover:decoration-ds-gray-800  decoration-1 text-sm font-medium',
        ]}
      >
        Hiran Venugopalan
      </span>
    </a>
  </li>
</ul>
