---
import { siteConfig } from '@/config/site'
import { Icon } from 'astro-icon/components'
---
<div class="space-y-2">
  <div class="text-ds-gray-1000">
    <p>Hey 👋 I'm AnthonyZhu.</p>
    <p class="pt-4">
      You can find me on:
    </p>
  </div>
  <div class="flex space-x-8 ml-4">
    <a href={siteConfig.links.github} target="_blank" aria-label="github">
      <Icon name="simple-icons:github" class="size-5 inline-flex opacity-50 hover:opacity-100" />
    </a>
    <a href={siteConfig.links.twitter} target="_blank" aria-label="x">
      <Icon name="simple-icons:x" class="size-5 inline-flex opacity-50 hover:opacity-100" />
    </a>
    <a href={siteConfig.links.blueSky} target="_blank" aria-label="blueSky">
      <Icon name="simple-icons:bluesky" class="size-5 inline-flex opacity-50 hover:opacity-100" />
    </a>
  </div>
</div>
