---
import ResourceLayout from '@/layouts/ResourceLayout.astro';
---

<ResourceLayout
  title="Design Resource"
  description="Anthony's design resource"
>
  <div slot="right-content">

  </div>
</ResourceLayout>
