
.link {
  position: relative;
}
.link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  transform-origin: bottom right;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0) scaleY(1);
  background-color: currentColor;
  transition-property: transform;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  animation-duration: .3s;
  content: "";
  animation-timing-function: cubic-bezier(.4,0,.2,1);
}
.link:hover:after {
  transform-origin: bottom left;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.prose a {
  @apply no-underline text-blue-500 after:content-['__↗'] font-normal;
  @apply hover:underline hover:underline-offset-4 hover:decoration-wavy;
}


a[aria-hidden='true'] {
  @apply after:content-none;
}
