
.link {
  position: relative;
}
.link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  transform-origin: bottom right;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0) scaleY(1.2);
  background-color: currentColor;
  transition-property: transform;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  animation-duration: .3s;
  content: "";
  animation-timing-function: cubic-bezier(.4,0,.2,1);
}
.link:hover:after {
  transform-origin: bottom left;
  transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1.2);
}

.link-card {
  @apply -mx-1.5 -my-1 rounded bg-transparent px-1.5 py-1 transition-colors duration-300 hover:bg-gray-200;
}

/* progress bar */
.loading {
  @apply fixed left-0 top-0 pointer-events-none h-[2px] w-full bg-black dark:bg-white;
  z-index: 1031;
  transition: transform 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0) scaleX(var(--progress, 0));
  transform-origin: 0;
}

/* slideFromBottom */
@keyframes slideFromBottom {
  from {
    transform: translate3d(0, var(--initial-transform, 100%), 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

/* vaul */
[data-vaul-drawer][data-vaul-snap-points=false][data-vaul-drawer-direction=bottom][data-state=open] {
  animation-name: slideFromBottom;
}
[data-vaul-drawer] {
  touch-action: none;
  will-change: transform;
  transition: transform .5s cubic-bezier(.32, .72, 0, 1);
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(0.32,0.72,0,1);
}