.prose a {
  @apply no-underline text-blue-500 font-normal;
}
a[aria-hidden='true'] {
  @apply after:content-none;
}


/* remove image margin y */
.prose img {
  @apply my-0;
}

/* MdxComponent: For <code></code> with no parent <pre></pre> */
:not(pre)>code {
  @apply relative rounded border px-[0.3rem] py-[0.2rem] font-mono text-sm bg-background text-foreground;
}

/* Highlight */
.line.has-highlight {
  background: var(--highlight);
}

span.highlighted-word {
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
  padding: 1px 3px;
  margin: -1px -3px;
  border-radius: 4px;
}