/* callout */
.callout>* {
  @apply my-0 !important;
}
.font-icon-callout {
  font-family: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

/* MdxComponent: For <code></code> with no parent <pre></pre> */
:not(pre)>code {
  @apply relative rounded border px-[0.3rem] py-[0.2rem] font-mono text-sm bg-background text-foreground;
}


.prose a {
  @apply no-underline text-blue-500 font-normal;
}

/* remove image margin y */
.prose img {
  @apply my-0;
}

/* hidden link content */
a[aria-hidden='true'] {
  @apply after:content-none;
}

html .astro-code,
html .astro-code span {
  background-color: hsl(0deg 0% 96.38%) !important;
}


html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}