@utility prose {
  & img {
    @apply mt-0 mb-0;
  }

  & ul {
    list-style-type: none;
  }
  & ul > li {
    @apply relative pl-2;
  }
  & ul li:before {
    @apply inline-block -ml-6  font-medium mr-2;
    content: '-';
  }
}


@utility not-prose {

  &.code-wrapper {
    @apply relative rounded border-[1px]  border-solid border-gray-300;
    pre code {
      @apply grid text-sm py-4;
    }
    pre code .line {
      @apply pl-4 pr-2 leading-6;
    }
    .code-header {
      @apply flex justify-between items-center px-4 border-b-gray-300  h-12 border-b-[1px] border-solid;
    }

    .line.has-highlight {
      background: var(--highlight);
    }

    span.highlighted-word {
      background-color: var(--highlight);
      border: 1px solid var(--highlight);
      padding: 1px 3px;
      margin: -1px -3px;
      border-radius: 4px;
    }

    .line.diff.remove {
      background: var(--diff-remove);
    }
    .line.diff.remove::before {
      content: '-';
      color: var(--color-red-700);
      margin-right: 4px;
    }
    .line.diff.add {
      background: var(--highlight);
    }
    .line.diff.add::before {
      content: '+';
      color: var(--color-green-700);
      margin-right: 4px;
    }
  }
}

@layer utilities {
  :not(pre)>code {
    @apply relative rounded border px-[0.3rem] py-[0.2rem] text-[15px] bg-background text-foreground;
  }
}