@layer utilities {
  .prose {
    h1 {
      font-size: 2em;
    }
    
    h2 {
      font-size: 1.5em;
    }
    
    h2 {
      font-size: 1.2em;
    }
    
    h1,
    h2,
    h3 {
      font-weight: 600;
      line-height: 1.1;
      text-wrap: balance;
      margin-top: calc(2 * var(--gap));
    }
    sup,
    sub {
      vertical-align: baseline;
      position: relative;
      font-size: 0.7em;
      line-height: 1;
    }
    
    sup {
      bottom: 1.4ex;
    }
    sub {
      top: 0.5ex;
    }
    
    strong {
      font-weight: 600;
    }
    
    
    pre,
    samp,
    kbd,
    code {
      font-variant-ligatures: no-contextual common-ligatures;
      font-variation-settings: normal;
    }
    
    /* LISTS */
    ul,
    ol {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
      padding: 0 0 0 1em;
      list-style-type: none;
    }
    
    
    /* Cool lis */
    ul li,
    ol li {
      position: relative;
      padding-left: calc(var(--gap) * 1);
    }
    
    ul li:before,
    ol li:before {
      content: "—";
      display: inline-block;
      color: inherit;
      position: absolute;
      margin-left: calc(var(--gap) * -2);
    }
  }
}