---
import { Badge } from '@/components/ui/badge'
import { Card, CardContent, CardFooter, CardHeader } from '@/components/ui/card'

interface Props {
  name: string
  description?: string
  badgeText?: string
  tags?: string[]
  className?: string
}

const { name, description, badgeText, tags } = Astro.props
---

<Card className="w-full max-w-md">
  <CardHeader className="flex flex-row items-center justify-between space-y-0 pb-2">
    <div class="flex items-center space-x-2">
      <slot name="icon" />
      <h2 class="text-lg font-bold">{name}</h2>
    </div>
    <Badge variant="secondary">{badgeText}</Badge>
  </CardHeader>
  <CardContent>
    <p class="text-sm text-muted-foreground">{description}</p>
  </CardContent>
  <CardFooter className="flex justify-end space-x-2 pt-2">
    {tags?.map(tag => (
      <Badge variant="outline">
        {tag}
      </Badge>
    ))}
  </CardFooter>
</Card>
