---
import MarkCard from '@/components/cards/MarkCard.astro'
import { ResourceType } from '@/config/resource'
import ResourceLayout from '@/layouts/ResourceLayout.astro'
import { actions } from 'astro:actions'

const { data: portfolios } = await Astro.callAction(actions.SITE.GET, ResourceType.SUBSCRIBE)
---

<ResourceLayout
  title="Subscribe Resource"
  description="Anthony's subscribe resource"
>
  <div slot="right-content">
    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4 place-content-start px-2">
      {
        portfolios?.map(portfolio => (
            <MarkCard
              name={portfolio.name}
              tags={portfolio.tags?.split(',')}
              description={portfolio.description}
              url={portfolio.url}
              ogUrl={portfolio.ogUrl}
            >
            </MarkCard>
          ),
        )
      }
    </div>
  </div>
</ResourceLayout>
