---
import {
  siteConfig,
} from '@/config/site'

type Props = {
  className?: string
}

const { className } = Astro.props;
---

<footer class:list={['pt-8 pb-6', className]}>
  <div class="container">
    <div class="md:flex text-sm items-center justify-center mx-auto">
      <span>
        Copyright © 2024 - PRESENT {siteConfig.author}.
      </span>
    </div>
  </div>
</footer>
