---
import {
  // footerLinks,
  siteConfig,
} from '@/config/site'
import { cn } from '@/lib/utils'

type Props = {
  className?: string
}

const { className } = Astro.props;
---

<footer class={cn('border-t border-[0.1px]', className)}>
  <div class="container max-w-3xl">
    <div class="py-4">
      <div class="md:flex text-sm text-muted-foreground justify-between">
        <div>
          Copyright © 2024 {siteConfig.author}.
        </div>
        <div>
          Built by{' '}
          <a
            href={siteConfig.links.twitter}
            target="_blank"
            rel="noreferrer nofollow"
            class="font-medium underline underline-offset-4"
          >
            {siteConfig.author}
          </a>
          . Hosted on{' '}
          <a
            href="https://cloudflare.com"
            target="_blank"
            rel="noreferrer nofollow"
            class="font-medium underline underline-offset-4"
          >
            Cloudflare
          </a>.
        </div>
      </div>
    </div>
  </div>
</footer>
