---
import CollectionLayout from '@/layouts/CollectionLayout.astro'

const data = []
for (let index = 0; index < 1000; index++) {
  data.push(index)
}
---
<CollectionLayout
  title="Collection"
  description="Anthony's collection page"
  bgType="default"
  bgClass="dark:bg-transparent"
  slideContent={false}
>
  <div slot="right-content">
    Degign Page
  </div>
</CollectionLayout>
