---
import MainLayout from '@/layouts/MainLayout.astro';

---
<MainLayout
  title="Collection"
  description="Anthony's collection page"
  bgType="default"
  bgClass="dark:bg-transparent"
>
  <div
    class="container relative flex w-full flex-col max-w-screen-lg space-y-6 pt-8"
  >
    <!--
      <PageHeader
        heading="Workspace"
      />
    -->
    Work
  </div>
</MainLayout>
