---
import ExampleGrid from '@/components/ExampleGrid.astro'
import PageHeader from '@/components/PageHeader.astro'
import { navMenuConfig } from '@/config/nav-menu'
import MainLayout from '@/layouts/MainLayout.astro'

const pages = navMenuConfig.portfolio[0].items;
---

<MainLayout
  title="Discovery"
>
  <div class="bg-background-200">
    <section class="container max-w-[900px] py-8">
      <!--
        <PageHeader
          heading="Discovery"
          text="Differents pages and examples apps built with Astro v4.5, shadcn/ui & react js. Fully Open Source."
        />
      -->

      <ExampleGrid items={pages} />
    </section>
  </div>
</MainLayout>
