---
import { Button } from '@/components/ui/button'
import MainLayout from '@/layouts/MainLayout.astro'
import { Icon } from 'astro-icon/components';
---

<MainLayout title="About" description="Lorem ipsum dolor sit amet">
  <section class="space-y-5">
    <section
      class="relative container max-w-screen-md mb-28 mt-16 sm:mt-20 lg:mt-28"
    >
      <div class="flex h-full flex-col justify-between">
        <div class="grid gap-8 sm:grid-cols-2">
          <div>
            <h1 class="text-4xl font-heading text-foreground">AnthonyZhu</h1>
            <p class="text-base text-muted-foreground mt-0.5">
              Fullstack Developer
            </p>
          </div>
          <div>
            <p class="mb-12 text-base text-muted-foreground">
              Hi there! I'm AnthonyZhu, a web dev enthusiast with a passion for
              user interfaces.
              <br />
              What's up with you?
            </p>
            <div class="flex items-center gap-3">
              <Button className="rounded-xl">
                <Icon name="lucide:mail" class="mr-2 size-4" />
                <a href="mailto:">Talk with me</a>
              </Button>

              <Button variant="outline" className="rounded-xl">
                <Icon name="lucide:briefcase" class="mr-2.5 size-4" />
                <span>My works</span>
              </Button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</MainLayout>
