---
import { cn } from '@/lib/utils'

interface Props {
  type: 'default'
}

const { type } = Astro.props
---
{/* see https://github.com/suyalcinkaya/onur.dev/blob/master/src/components/gradient-bg.js */}
{
  type === 'default' && (
    <div class="absolute top-0 z-0 w-full h-auto bg-white hidden md:flex">
      <div class={cn(
        'absolute bottom-auto top-10 right-10 size-[400px]',
        'translate-x-[-30%] translate-y-[20%] rounded-full bg-green-200 opacity-50 blur-[80px]',
      )}
      >
      </div>
    </div>
  )
}
