---
import type { HTMLAttributes } from 'astro/types'
import { cn } from '@/lib/utils'

interface Props extends HTMLAttributes<'div'> {
  heading: string
  text?: string
  className?: string
}
const { heading, text, className, ...attrs } = Astro.props
---

<div class={cn('space-y-2', className)} {...attrs}>
  <h1 class="inline-block font-heading font-bold text-2xl">
    <slot name="head-slot">
      {heading}
    </slot>
  </h1>
  {text && <p class="text-muted-foreground">{text}</p>}
</div>

