---
import ResourceLayout from '@/layouts/ResourceLayout.astro'
---
<ResourceLayout
  title="Reading Resource"
  description="Anthony's reading resource"
  bgType="default"
  bgClass="dark:bg-transparent"
  slideContent={false}
>
  <div slot="right-content">

  </div>
</ResourceLayout>
