---
import IMG from '@/components/markdown/IMG.astro'
import { MdxComponents } from '@/components/markdown/mdx-components'
import Pre from '@/components/markdown/Pre.astro'
import { Button, buttonVariants } from '@/components/ui/button'
import MainLayout from '@/layouts/MainLayout.astro'
import { cn } from '@/lib/utils'
import { type CollectionEntry } from 'astro:content'
import { ChevronLeft, ChevronRight } from 'lucide-react'

interface Props {
  weeklyData: CollectionEntry<'weekly'>[]
}

const {
  weeklyData,
} = Astro.props
---

<MainLayout
  title="Weekly"
  description="Anthony's Weekly"
  mainClass={cn(
    'container items-start md:grid',
    'md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10',
  )}
  bgType="default"
  bgClass="bg-blue-200"
>
  <!-- sider -->
  <aside
    class={cn(
      'fixed top-14 z-30 hidden h-[calc(100vh-3.5rem)]',
      'w-full shrink-0 border-r border-border/40 dark:border-border md:sticky md:block',
    )}
  >
    <div class="h-full overflow-auto py-6 lg:py-8 pb-4">
      <div class="w-full">
        <div class="grid grid-flow-row auto-rows-max gap-0.5 text-sm space-y-4 ml-12">
        {
          weeklyData.map((item) => {
            return (
              <a
                href={`/weekly/${item.slug}`}
              >
                {item.data.title}
              </a>
            )
          })
        }
        </div>
      </div>
    </div>
  </aside>
  <section class="relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]">
    <div class="mx-auto w-full min-w-0 max-w-3xl">
      <div class="space-y-2">
        <h1 class="scroll-m-20 text-3xl font-bold tracking-tight">
          Button
        </h1>
        <p class="text-base text-muted-foreground">
          Displays a button or a component that looks like a button.
        </p>
      </div>
      <div class="pb-12 pt-8">
        <Content components={{
            ...MdxComponents,
            img: IMG,
            Image: IMG,
            pre: Pre,
          }}
        />
      </div>
      <!-- footer link -->
      <div class="flex flex-row items-center justify-between">
        <Button variant="ghost" asChild>
          <a
            href="/blog"
            class={cn(buttonVariants({ variant: 'outline' }))}
          >
            <ChevronLeft />
            <span>
              上一期
            </span>
          </a>
        </Button>
        <Button variant="ghost" className="ml-auto" asChild>
          <a
            href="/blog"
            class={cn(buttonVariants({ variant: 'outline' }))}
          >
            <span>
              下一期
            </span>
            <ChevronRight />
          </a>
        </Button>
      </div>
    </div>
    <div class="hidden text-sm xl:block">

    </div>
  </section>
</MainLayout>

<script>
</script>

<style>
  .no-scrollbar {
    scrollbar-width: none;
  }
</style>
