---
import ResourceLayout from '@/layouts/ResourceLayout.astro'
---
<ResourceLayout
  title="Site Resource"
  description="Anthony's site resource"
  bgType="default"
  bgClass="dark:bg-transparent"
>
  <div slot="right-content">

  </div>
</ResourceLayout>
