---
import { ResourceHoverCard } from '@/components/cards/HoverCard'
import ResourceLayout from '@/layouts/ResourceLayout.astro'
---

<ResourceLayout
  title="Sites Resource"
  description="Anthony's sites resource"
>
  <div slot="right-content">
    <ResourceHoverCard client:load />
  </div>
</ResourceLayout>
